@charset "UTF-8";

@font-face {
    font-family: ps;
    src: url(fontes/bubblegum-sans-regular.otf);
}

body{
    background: rgb(202, 202, 202);
}

#interface{
    background: #767676;
    max-width: 1200px;
    margin: 0 auto;
}

#topo{
    height: 130px;
}

#menu{
    display: block;
    position: absolute;
    width: 800px;
    top: 106px;
    left: 550px;
    z-index: 1;
}

#menu ul{
    text-decoration: none;
    list-style: none;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

#menu li{
    float: left;
    background: #000;
}

#menu li a{
    color: #FFF;
    text-decoration: none;
    margin: 0;
    display: block;
    padding: 5px 25px;
}

#menu li a:hover{
    background: #FFF;
    color: #000;
    text-decoration: underline;
}

#menu li ul{
    display: none;
    font-size: 1.2em;
}

#menu li:hover ul{
    display: block;
    position: relative;
}

#menu li:hover li{
    float: none;
}

/* BANNER */

#anime1, #anime2{
    max-width: 1200px;
    height: auto;
}

#banner_anime{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 350px;
    margin: 0px;
}

#banner_anime img{
    position: absolute;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear; /* ease, linear, ease-in, ease-out, aliviar-in-out, cubico-bezier */
}

#anime1, #anime2:hover{
    opacity: 1;
}

#anime1:hover, #anime2{
    opacity: 0;
}

#cards{
    position: relative;
    max-width: 1200px;
    height: auto;
    left: 15px;
}

article.card{
    float: left;
    width: 350px;
    margin: 10px 20px;
    text-align: center;
}


.card h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 1.5em;
}

.card p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding: 0px 10px;
    text-indent: 16px;
    color: #020;
}

.card a{
    text-decoration: none;
    font-size: 1.2em;
    background: #000;
    padding: 5px 30px;
    color: #FFF;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card a:hover{
    background-color: #767676;
}

#rodape{
    clear: both;
    border-top: 2px solid rgb(27, 27, 27);
    padding: 10px;
    text-align: left;
}

#rodape1{
    clear: both;
    border-top: 2px solid rgb(27, 27, 27);
    padding: 10px;
    text-align: center;
}

#rodape a{
    text-decoration: none;
}

/* Fim da página index */


/* Inicio da pagina PS */

#ps{
    display: block;
    width: 800px;
    margin: 0 auto;
    float: left;
    padding: 10px 20px;
}

#lateral{
    display: block;
    width: 350px;
    height: 100px;
    margin: 0 auto;
    float: right;
    padding: 5px 0px;
    margin-top: -255px;
    padding-right: 20px;
}

#lateral1{
    display: block;
    width: 350px;
    height: 150px;
    margin: 0 auto;
    float: left;
    padding: 10px 0px;
    margin-top: -255px;
    padding-left: 20px;
}

#lateral img{
    border-radius: 50px;
}

#lateral1 img{
    border-radius: 50px;
     margin-top: -42px;
}

#ps h1{
    font-family: ps;
    font-size: 2em;
    color: rgb(63, 60, 216);
    text-align: center;
}

#ps p{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-indent: 20px;
}

#ps5{
    display: block;
    width: 800px;
    margin: 0 auto;
    float: right;
    padding: 10px 20px;
    margin-bottom: 50px;
    height: 300px;
}

#ps5 h1{
    font-family: ps;
    font-size: 2em;
    color: rgb(63, 60, 216);
    text-align: center;
}

#ps5 p{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-indent: 20px;
    margin-left: 10px;
}

.flex6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

address{
    padding: 35px 10px 50px 10px;
    background-color: #3f3f3f;
    color: #FFF;
}

address a{
    text-decoration: none;
    color: #FFF;
}

address img{
    padding-top: 15px;
}


#dados{
    margin: 30px 0px 15px 0px;
}

#google_maps{
    display: none;
}

footer{
    padding: 50px 0px;
    background-color: #3f3f3f;
    font-size: 0.87em;
    color: #FFF;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #FFF;
}

#redes_sociais{
    margin-bottom: 25px;
}

.container{
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between; 
}

.flex6{
    flex-direction: row-reverse;
}

address{
    padding-top: 50px;
}

#icone_local{
    display: inline;
}

#icone_mapa{
    display: none;
}

#google_maps{
    display: inline;
} 

#xbox1{
    display: block;
    width: 800px;
    margin: 0 auto;
    float: right;
    padding: 10px 20px;
}

#lateral2{
    display: block;
    width: 350px;
    height: 100px;
    margin: 0 auto;
    float: left;
    padding: 5px 0px;
    margin-top: -255px;
    padding-left: 20px;
}

#lateral3{
    display: block;
    width: 350px;
    height: 150px;
    margin: 0 auto;
    float: right;
    padding: 10px 0px;
    margin-top: -255px;
    padding-right: 20px;
}

#lateral2 img{
    border-radius: 80%;
}

#lateral3 img{
    margin-top: -42px;
    width: 350px;
}

#xbox1 h1{
    font-family: ps;
    font-size: 2em;
    color: rgb(63, 60, 216);
    text-align: center;
}

#xbox1 p{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-indent: 20px;
    margin-left: 10px;
}

#xboxx{
    display: block;
    width: 800px;
    margin: 0 auto;
    float: left;
    padding: 10px 20px;
    margin-bottom: 50px;
    height: 300px;
}

#xboxx h1{
    font-family: ps;
    font-size: 2em;
    color: rgb(63, 60, 216);
    text-align: center;
}

#xboxx p{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    text-indent: 20px;
    margin-left: 10px;
}



